*{box-sizing: border-box;}
body{background: #ddebea;}


/*base style*/

body{
    font-family: 'inter',sans-serif;
    font-size: 16px;
    background-color: #364037;
}


h1,h2,h3,h4,h5, a{color: #faf7f0;padding-bottom: 30px;}

footer{color: black;}

p{line-height: 28px;color: #9b9898;font-weight: 300;}

.enormous-text{font-size: 100px;font-weight: 900;}
.big-text{font-size: 80px;font-weight: 900;}
.med-text{font-size: 40px;}
.normal-text{font-size: 20px;}
.small-text{font-size: 16px;}    /*font di default*/

.intro-text{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;}

.button{
    display: inline-block;
    padding:18px 28px; 
    text-decoration: none;
    color: #faf7f0;
    background: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));

    transition: all 1s ease-in-out;
    
}



/*quello che c'è in questa query va appllicata solo in dispositivi con schermo di massimo 768px*/
/*solo su mobile*/

@media (max-width:768px){
    .enormous-text{font-size: 60px;}
    .big-text{font-size: 40px;}
    .intro-text{font-size: 20px;}
}


/*Header*/

.header{
    width: 100%;
    position: fixed; /*posizionamento che mi imposta fisso sullo schermo anche se si scrolla*/
    top: 0;
    left: 50%;
    transform: translate(-50%);
    padding: 3%;
    display: flex;
    max-width: 1300px;
}



/*menu*/

.menu{
    width: 100%;
    transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.menu li{display: inline-block;font-size: 20px;}
.menu li a{
    text-decoration: none;
    color: #faf7f0 ;
    padding: 15px;
    display: block;}

.hamburger{display: none;}

/*impostazioni degli oggetti del sito su uno schermo mobile*/

@media (max-width:768px){

    .cta{display: none;}

    .menu{
        position: absolute;
        background: #faf7f0; 
        top: 0px;right:-100%;
        height: 100vh;
        padding-top: 80px;
    }

    .menu li a{color: black;}
    .menu li{display: block; }
    .menu li{padding: 15px 30px;font-size: 20px;}

    .menu--open{right:0%;}

    .hamburger{
        display: block;
        width: 30px;
        height: 40px;
        position: absolute;
        top: 40px;
        right: 30px;
        
    }
    .hamburger span{
        background: black;
        height: 4px;
        width: 100%;
        display: block;
        margin-bottom: 5px;
    }
}



/*Hero*/

.hero{
    height: 70vh;
    display: flex;
    width: 100%;
    align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.90)),
    url('media/immagini/paesaggio.avif') no-repeat center center;
    background-size: cover;
}

.hero__content{

    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 30px;
    padding-top: 100px;
}


.hero__content h1,
.hero__content p{color: #faf7f0;}

.hero__content a{
    text-decoration: none;
    color:#faf7f0;}

.hero--about{padding-top: 300px;}

@media (max-width: 768px) {
    .hero{height: 40vh;}
}

/*Paragraph*/

.paragraph{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: auto; 
    max-width: 1350px; 
    margin: 60px auto; 
    padding: 20px; 
    background-color: #424d43; 
    text-align: center; 
    font-size: 40px;
    
}

@media (max-width:768px){
    .paragraph{
        font-size: 25px;
    }
}


/*Poster*/

.poster{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.poster__img{width: 75%;height: 85%;}
.poster__img img{object-fit: cover;width: 100%;height: 100%;}
.poster__content{width: 35%;padding: 50px;}


@media (max-width: 1400px) {
    .poster{flex-wrap: wrap;height: auto;}
    .poster__img{width: 100%;height: 100%;}
    .poster__img img,
    .poster__content{width: 100%;}
}





/*BG Cover*/

.bg-cover{
    display: flex;
    padding: 100px 0px;
    background: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.7)),
    url('/media/immagini/paesaggio.avif') no-repeat center center;
    background-size: cover;
}

.bg-cover__text{width: 50%;padding: 30px;}
.bg-cover__title{width: 50%;padding: 50px;display: flex;align-items: center;}


@media (max-width: 1000px) {
    .bg-cover{flex-wrap: wrap;height: auto;}
    .bg-cover__text,
    .bg-cover__title{width: 50%;}
}



/*Grid*/


.grid{display: flex;max-width: 1350px;padding: 0px 30px;margin: 0 auto;}
.grid .col{width: 100%;}

@media (max-width: 768px) {
    .grid{flex-wrap: wrap;}
}



/* Caurousel */

.main-carousel{padding: 40px 0px;}

.carousel-cell{
    height: 250px;
    width: 250px;
    background: #faf7f0;
    border-radius: 100%;
    line-height: 250px;
    text-align:center;
    background-image: url('media/immagini/la-pelosa.jpeg');
    background-size: cover;
    margin-right: 20px; 
    transition: 1.5s;
    margin: 0 20px;
}
#carousel-cell_1{
    background-image: url('media/immagini/arcipelago-La-Maddalena.jpeg');
}
#carousel-cell_2{
    background-image: url('media/immagini/Riviera-del-Corallo.jpeg');
}
#carousel-cell_3{
    background-image: url('media/immagini/porto-cervo.jpeg');
}
#carousel-cell_4{
    background-image: url('media/immagini/sardegnahome.jpg');
}
#carousel-cell_5{
    background-image: url('media/immagini/settimanabiancasci.jpeg');
}


/* Panel Blue */

.panel-blue{background-color: #faf7f0;padding: 100px 30px;}
.panel-blue__text{display: flex;align-items: center;}
.dot{
    height: 250px;
    width: 250px;
    background-color: #364037;
    border-radius: 100%;
    line-height: 250px;
    text-align: center;
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 40px;
}


.img-container{
    width: 40%;
    float: left;
    margin: 10px;
    flex-wrap: wrap;
}

.img-container img{width: 100%; height: auto;}

@media (min-width:1150px){

    .img-container{
        width: 40%;
        height: 70vh;
        float: left;
        margin: 10px;
        flex-wrap: wrap;
    }
    .img-container img{width: 440px; height:245px;}
}

.clear-fix::after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html.clearfix {zoom: 1;}
*:first-child+html.clear-fix{zoom: 1;}


/*Carousel nel contact*/

#carousel-cell_6{
    background-image: url('media/immagini/about.jpeg');
}
#carousel-cell_7{
    background-image: url('media/immagini/dueamiche.webp');
}
#carousel-cell_8{
    background-image: url('media/immagini/passaporti.webp');
}
#carousel-cell_9{
    background-image: url('media/immagini/camperconamiche.webp');
}


.contact{
    text-align: center;
    font-size: 20px;
}



/* About */


.poster__content{width: 35%;padding: 50px;}

@media (max-width: 1400px) {
    .poster{flex-wrap: wrap;height: auto;}
    .poster__img{width: 100%;height: 100%;}
    .poster__img img,
    .poster__content{width: 100%;}
}



/* Footer */

.footer{
    background: #364037;
    padding: 150px 0px;
}

/* Helpers*/
.mt-1{margin-top: 50px;}
.mt-2{margin-top: 100px;}
.mt-3{margin-top: 150px;}

.mb-1{margin-bottom: 50px;}
.mb-2{margin-bottom: 100px;}
.mb-3{margin-bottom: 150px;}


.mr-1{margin-right: 50px;}
.ml-1{margin-left: 50px;}

.tw{color: #faf7f0;}
.tg{color: #364037;}

.fl{float: left;margin-right: 10px;}
.fr{float: right;margin-right: 10px;}


@media (max-width: 768px){
    .mt-sma-0{margin-top: 0;}
    .mb-sma-0{margin-bottom: 0;}
}




/*fare applicare il padding agli elementi in modo tale da non avere problemi di sovrapposizione di elementi*/ 
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
        box-sizing: border-box;
}