*{box-sizing: border-box;}

body,
html{padding: 0;margin: 0;}

body{
    background: #eee; font-family: Arial;
}

p{
    color: black;font-style: 10px;
}

a{color: black;text-decoration: none;}

.img-res{width: 100%;height: auto;}

h1,
h2,
h3{color: #333;}

.container{padding: 1px;}


header{background-color: #fff;padding: 25px 15px 5px 15px;;width: 100%;}

.logo{text-align: center;width: 100%;display: block;font: size 30px;}

#menu-principale{text-align: center;padding: 0px;}
#menu-principale li{display: inline;}
#menu-principale li a{margin: 10px;}

.cover{border: 1px solid #616060;position: relative;}

/*posizionamento in basso a destra della finestra, la finestra si muove ma l'ogetto rimane sempre in quell'angolo*/ 

.cover-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}

/*quando la dimensione dello schermo varia anche il contenuto del sito cambia il posizionamento*/
.grid{
    display: flex;
    flex-wrap: wrap;
}

.col-50{
    width: 50%;     /*la percentuale va a indiare quanto spazio va ad occupare ogni colonna*/
    padding: 15px;  /*in questo caso 50% occupa meta pagina quindi ci staranno solo 2 colonne*/

}    


/*quello che viene scritto in questa media query viene eseguito solo ed esclusivamente su dispositivi
che arrivano alla larghezza di 768px--> se ci sono dispositivi più grandi questa porzione di codice 
non viene eseguita*/

@media (max-width: 768px){

    .col-50{
        width: 100%;     
    }  
}

/*proprietà che viene eseguita su schermi che hanno dimensioni che vanno da 768px a 1023px)*/
@media (min-width: 768px) and (max-width: 1023px){

    h1{color: rgb(155, 34, 54);}
}

/*media query sia per iphone he per tablet*/

@media (max-width: 1023px){

    h1{font-style: 30px}
}

/*media query solo per schermi grandi quindi con schermi da 1300px in su*/

@media (min-width: 1300px){

    h1{font-style: 70px}
}


footer{background-color:  #333;padding: 40px;}
footer p{color:  #fff;}

.mess-link{
    display: inline-block;
    position: fixed;
    bottom: 10px;
    right: 0px;
    height: 50px;width: 50px;
}